<div id="comments-list">
    {{#commentDtos}}
        <div class="card m-2" id="comments-{{id}}">
            <div class="card-body">
                {{content}}
            </div>
        </div>
    {{/commentDtos}}
</div>