{{>layouts/header}}

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th scope="col">예상 질문</th>
        </tr>
        </thead>

        <tbody>
        {{#articleList}}
        <tr>
            <th>{{id}}</th>
            <td><a href="/articles/{{id}}">{{title}}</a></td>
        </tr>
        {{/articleList}}
        </tbody>
    </table>

    <div style="float: right;">
        <a class="btn btn-primary" href="/articles/new">새 글 작성</a>
    </div>
    <br/><br/>
</div>

{{>layouts/footer}}
