{{>layouts/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Author</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        {{#article}}
        <th>{{id}}</th>
        <td>{{title}}</td>
        <td>{{author}}</td>
        <td>{{content}}</td>
        {{/article}}
    </tr>
    </tbody>
</table>

{{>layouts/footer}}