{{>layouts/header}}

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Content</th>
        </tr>
        </thead>
        <tbody>
        {{#article}}
        <tr>
            <td>{{content}}</td>
        </tr>
        {{/article}}
        </tbody>
    </table>
    <a href="/articles" class="btn btn-primary">뒤로가기</a>
    <div style="float: right;">
        <a href="/articles/{{article.id}}/edit" class="btn btn-primary">수정</a>
        <a href="/articles/{{article.id}}/delete" class="btn btn-danger">삭제</a>
    </div>
    <br/><br/>
<div>

{{>comments/_comments}}

{{>layouts/footer}}